.back-btn {
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 0.5rem;
  background: none;
  border: none;
  color: var(--text-secondary);
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: var(--transition);
}

.back-btn:hover {
  color: var(--accent);
}

.back-btn.back-btn-page-top {
  margin-top: 50px;
}

.back-icon {
  font-size: 1.2rem;
}