.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
}

.content {
  flex: 1;
  padding: 2rem;
  transition: var(--transition);
  overflow-x: hidden;
  min-width: 0;
}

.content.blur {
  filter: blur(5px);
  pointer-events: none;
}


@media (max-width: 768px) {
  .content {
    padding: 1rem;
  }
}